* {
  margin: 0;
  padding: 0;
  font-family: monospace, "Courier New", Courier;
  box-sizing: border-box;
}
$primary: rgb(59, 159, 160);

.containerLogin {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  width: 100%;

  .box {
    margin-top: 15px;
    height: 95vh;
    background-color: $primary;
    width: 450px;
    position: relative;
    background: linear-gradient(
      45deg,
      rgba(59, 159, 160, 0.1),
      rgba(59, 159, 160, 0.3)
    );
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.4),
      15px 15px 15px rgba(0, 0, 0, 0.1);
  }

  // rgba(255, 255, 255, 0.6)
  // .color{
  //   background-color: #ffffff10;
  //   backdrop-filter: blur(15px);
  //   height: 95vh;
  //   margin-top: 0px

  // }

  p {
    margin-top: 25px;
  }

  img {
    width: 800px;
  }

  .login {
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.1),
      15px 15px 15px rgba(0, 0, 0, 0.1);
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    text-align: center;
    height: 250px;
    margin: auto;
    margin-top: 210px;
    border-radius: 25px;
    width: 400px;
   
    label {
      margin-left: -25px;
    }

    .input1 {
      margin-top: 10px;
    }
    input {
      border: none;
      width: 350px;
      font-size: 16px;

      border-bottom: 3px solid $primary;
      margin-bottom: 20px;

      &::placeholder {
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-weight: 500;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      margin-top: 10px;
      width: 350px;
      font-size: 16px;
      text-align: center;
      padding-top: 6px;
      padding-bottom: 6px;
      border: none;
      color: white;
      font-weight: 700;
      border-radius: 25px;
      background-color: $primary;
      font-family: "Courier New", Courier, monospace;
    }
  }
}

.restaurant {
  margin-left: 35vw;
  //margin-right: auto;
  margin-top: 40px;
  width: 900px;
  position: absolute;

  .formContainer {
    position: fixed;
    width: 80vw;
    padding: 5px;
    padding-left: 120px;
    padding-bottom: 10px;
    top: 0;
    left: 350px;
    background: linear-gradient(to right, $primary, rgba(255, 255, 255, 0.6));
  }
  .input {
    width: 40vw;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 15px 0 0 15px;
    border: 1px solid $primary;
  }

  .button {
    width: 120px;
    padding-top: 10.5px;
    padding-bottom: 6px;
    color: white;
    border: none;
    background: $primary;
    border-radius: 0 15px 15px 0;
    font-family: monospace, "Courier New", Courier;
    font-size: 15px;
  }
}

.containerHome {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.tab {
  width: 350px;
  margin-top: 0px;
  margin-left: 0px;
  // background-color: rgb(254,171,4);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), $primary);
  color: white;
  height: 100vh;
  // position: fixed;
  text-align: center;

  .fixed {
    position: fixed;
    width: 350px;
    margin-top: 0px;
    margin-left: 0px;
    // background-color: rgb(254,171,4);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), $primary);
    color: white;
    height: 100vh;
    // position: fixed;
    text-align: center;
  }

  h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8px;
    text-align: left;
  }

  button {
    width: 300px;
    text-align: center;
    height: 60px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: transparent;
  }

  .span {
    position: absolute;
    left: 95px;
    margin-top: -3px;
  }

  .span1 {
    position: absolute;
    left: 2px;
    margin-top: -3px;
  }
}

.autoContain {
  position: relative;
  display: flex;
  justify-content: center;
}

.autoComplete {
  cursor: pointer;
  margin-top: 10px;
  position: fixed;
  //  margin-left: 20%;
  margin-right: auto;

  .autoList {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      list-style-type: none;
      background-color: white;
      //   margin-left: 28%;
      //   margin-right: 50%;

      width: 600px;
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
}

.restaurantList {
  margin-left: 0px;
  //position: absolute;
  //   margin-left: 30%;
  //  margin-right: 30%;
  z-index: 10;
  margin-top: 10px;
}

.bookContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;

  .rectangle {
    margin-left: 138px;
    margin-bottom: 18px;
  }
}

.bookmarkList {
  margin: auto;
  text-align: center;
  margin-top: 0;
}

.listRectangle {
  width: 75vw;
  height: 50px;
  text-align: center;
  color: white;
  padding-top: 10px;
  background: linear-gradient(to right, $primary, rgba(255, 255, 255, 0.6));
}
.number {
  background-color: $primary;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  button {
    background-color: red;
    width: 100px;
    height: 30px;
    margin-top: 8px;
    border-radius: 50px;
  }
}

.rectangle {
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  background: linear-gradient(40deg, $primary, white);
  color: white;
  align-items: center;

  border-radius: 15px 0px 0px 15px;

  .normal {
    background: $primary;
    padding: 8px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .red {
    background: red;
    padding: 8px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
  }
}
